.recommendationsContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
  background-color: white;
  padding: 10px;
}

.goalHeader {
  margin: 5px 0px 0px;
  color: #336699;
  font-size: 1.4em;
}

.goalHelperText {
  margin: 0px 0px 25px;
}

.inputGoalTitle {
  margin-bottom: 5px;
}

.goalInputDropdown {
  width: 100%;
  margin-bottom: 20px;
}

.dropdownInput {
  height: 30px;
  width: 100%
}

.goalInput {
  width: 100%;
  margin-bottom: 20px;
  height: 20px;
}

.getRecommendationsButton {
  background-color: #336699;
  color: white;
  height: 30px;
  margin-bottom: 5px;
}


.clearButton {
  display: inline-block;
  margin-left: 15px;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 1.2em;
}

.clearButton:hover {
  cursor: pointer;
  color: #c0c0c5;
  font-weight: bolder;
}

.clearButton:active {
  color: #336699;
}