.newActivityContainer {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

.newActivityPageHeader {
  color: white;
  font-size: 2.0em;
  margin-bottom: 20px;
}

.newActivityBody {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.inputHeader {
  margin-bottom: 5px;
}

.inputSportHeader {
  margin-bottom: 5px;
}

.textInput {
  width: 99%;
  margin-bottom: 30px;
  height: 2em;
}

.inputBlockContainer {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.sportContainer {
  width: 50%;
  margin-right: 20px;
}

.dateContainer {
  width: 50%;
}

.DropDownInput {
  width: 100%;
}

.dateInput {
  height: 2em;
  width: 99%;
}

.durationContainer {
  width: 33.3%;
  margin-right: 20px;
  height: 50px;
}

.durationHoursMinutesContainer {
  display: flex;
  justify-content: space-between;
}

#durationHours {
  display: inline-block;
  width: 99%;
  margin-right: 5px;
}

#durationMinutes {
  display: inline-block;
  width: 99%;
  margin-left: 5px;
}

.distanceContainer {
  width: 33.3%;
  margin-right: 20px;
  height: 50px;
}

.elevationContainer {
  width: 33.4%;
  height: 50px;
}

.textAreaInput {
  width: 99%;
  height: 200px;
  margin-bottom: 10px;
}

#activityRating {
  margin-bottom: 40px;
  width: 48%;
}

.buttonContainer {
  display: flex;
}


.cancelButton {
  display: inline-block;
  margin-left: 15px;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 1.2em;
}

.cancelButton:hover {
  cursor: pointer;
  color: #c0c0c5;
  font-weight: bolder;
}

.cancelButton:active {
  color: #336699;
}

.map {
  margin-bottom: 30px;
  height: 40vh;
}

