.newActivityContainer {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

.pageHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}

.newActivityPageHeader {
  color: #336699;
  font-size: 2.0em;
  margin-bottom: 10px;
  height: 100%;

}

.newActivityBody {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.inputHeader {
  margin-bottom: 5px;
}

.inputSportHeader {
  margin-bottom: 5px;
}

.textInput {
  width: 99%;
  margin-bottom: 30px;
  height: 2em;
}

.inputBlockContainer {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.sportContainer {
  width: 50%;
  margin-right: 20px;
}

.dateContainer {
  width: 50%;
}

.DropDownInput {
  width: 100%;
}

.dateInput {
  height: 2em;
  width: 99%;
}

.durationContainer {
  width: 33.3%;
  margin-right: 20px;
  height: 50px;
}

.durationHoursMinutesContainer {
  display: flex;
  justify-content: space-between;
}

#durationHours {
  display: inline-block;
  width: 99%;
  margin-right: 5px;
}

#durationMinutes {
  display: inline-block;
  width: 99%;
  margin-left: 5px;
}

.distanceContainer {
  width: 33.3%;
  margin-right: 20px;
  height: 50px;
}

.elevationContainer {
  width: 33.4%;
  height: 50px;
}

.textAreaInput {
  width: 99%;
  height: 200px;
  margin-bottom: 10px;
}

#activityRating {
  margin-bottom: 40px;
  width: 48%;
}

.buttonContainer {
  display: flex;
}

.cancelButtonHeader {
  display: inline-block;
  align-self: flex-start;
  background-color: #f2f2f2;
  margin: 7px 0px 0px;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1.2em;
  &:hover {
    cursor: pointer;
    color: #c0c0c5;
    font-weight: bolder;
  };
  &:active {
    color: #336699;
  };
}

.cancelButton {
  display: inline-block;
  margin-left: 15px;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 1.2em;
  &:hover {
    cursor: pointer;
    color: #c0c0c5;
    font-weight: bolder;
  };
  &:active {
    color: #336699;
  };
}

.map {
  margin-bottom: 30px;
  height: 40vh;
}

