.homeLink {
  flex-grow: 1;
  padding-top: 10px;
  font-family: interstate, sans-serif;
  font-size: 2.8em;
  color: white;
  text-decoration: none;
  display: block;
}

.homeLink:hover {
  cursor: pointer;
}

.toolbarButton {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.addButton {
  margin-top: 10px;
  color: #ffffff;
}

.addButton {
  font-family: interstate, sans-serif;
  color: white;
  display: inline-block;
  margin-left: 15px;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 1.2em;
  background-color: #336699;
  &:hover {
    cursor: pointer;
    color: lightgray;
  }
}