.activityStreamContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5px;
}

.asideLeft {
  display: inline-block;
  border: 1px solid black;
  width: 28vw;
  padding: 10px;
}

.mainSection{
  display: inline-block;
  border: 1px solid black;
  width: 40vw,
}

.asideRight {
  display: inline-block;
  border: 1px solid black;
  width: 28vw;
  padding: 10px;
}

.activityStream {
  display: flex;
  flex-direction: column,
}