.activityProfileContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 15px;
  margin-bottom: 50px;
  border: 1px solid black;
}

.profileHeaderContainer {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.avatarContainer {
  display: flex;
  width: 35%;
  justify-content: flex-end;
}

#userAvatar {
  display: inline-block;
}

.userNameLocationContainer {
  display: flex;
  width: 65%;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.userFullName {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 0px 5px 0px;
}

.hometownContainer {
  display: flex;
  justify-content: left;
  margin: 5px 5px 0px;
}

.hometownTitle {
  display: inline-block;
  margin-right: 5px;
}

.hometown {
  display: inline-block;
}

.lowerActivityProfileContainer {
  padding-bottom: 25px;
}
.profileStatsContainer {
  display: inline-block;
  width: 95%;
  justify-content: flex-start;
  margin-right: 15px;
  padding: 20px;
}

.profileStatTitle {
  display: inline-block;
  font-weight: 900;
}

.profileStat {
  display: inline-block;
}

.dividerLine {
  border-bottom: 1px solid black;
  margin: 0px 10px 0px;
}
